@media (max-width: 1440px) {
    .sectionDark {padding: 5rem 10rem !important;}
    .sectionLight {padding: 5rem 10rem !important;}
}

@media (max-width: 1024px) {
    html{font-size: 90%;}
    .sectionDark {padding: 4rem !important;}
    .sectionLight {padding: 4rem !important;}
}

@media (max-width: 768px) {
    html{font-size: 90%;}
    .sectionDark {padding: 2rem !important;}
    .sectionLight {padding: 2rem !important;}
}

body {
    font-family: "Playfair Display", serif;
}

.footer {
    background-color: #191919;
    color: white;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-decoration: none;
}

.fa {
    margin: 0.5rem;
}

footer a {
    color: inherit;
}

.footer a:hover {
    color: grey;
}

.carousel-caption {
    top: 4.5rem;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.sectionDark {
    background-color: #e0e0e0;
    padding: 5rem 16rem;
}

.sectionLight {
    background-color: white;
    padding: 5rem 16rem;
}

hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

hr.style-eight:after {
    content: "§";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.5em;
    padding: 0 0.25em;
    background: white;
}

.borderBelowHeader {
    margin-top: 2rem;
}

.icon-html5-alt {
    color: orangered;
}

.icon-css3-alt {
    color: #0080A5;
}

.icon-bootstrap {
    color: #4B0082;
}

.experience, .aboutMeText {
    font-size: 1.1rem;
}

